@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 10px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    background: transparent;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #1e293b; 
    border-radius: 20px;
    border: 3px solid #020617; 
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    background-color: #0ea5e9; 
  }

  .scrollbar-custom {
    scrollbar-width: thin;
    scrollbar-color: #1e293b transparent;
  }
}